h1{text-align:center;
   color:FFAF00;
  }
p{text-align:center;
  color:FFAF97;
 }
ul > li{text-align:center;
  }
ol > li{
   text-align:center;
}
ul{text-align:center;
  }
ol{
   text-align:cneter;
}
body{
 background-color:39AF80;
}
p.main{text-align:left;
       font-family: 'DotGothic16', sans-serif;
      }
h2{
   font-family: 'Yusei Magic', sans-serif;
}

