h1{text-align:center;
   color:FFAF00;
  }
p{text-align:center;
  color:FFAF97;
 }
div.li{
   text-align:center;
}
body{
 background-color:39AF80;
}
p.main{text-align:left;
       font-family: 'DotGothic16', sans-serif;
      }
h2{
   font-family: 'Yusei Magic', sans-serif;
}

